@font-face {font-family:"MyriadPro"; src:url("../fonts/MyriadPro-Regular.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"MyriadPro"; src:url("../fonts/MyriadPro-Bold.woff") format("woff"); font-weight:bold; font-style:normal}

* {outline:none}

html {min-width:480px}

body {min-width:480px; margin:0; padding:0; font:16px/25px MyriadPro, sans-serif; color:#505354; background:#fff; -webkit-text-size-adjust:100%}

a {color:#505354}
a:hover {text-decoration:none}

img {border:none; max-width:100%}

.wrapper {position:relative; min-width:480px; width:100%; overflow:hidden}

.container {padding:0 15px; max-width:1170px; margin:0 auto}
.container::after {content:""; display:block; clear:both}

@media screen and (max-width:1199px) {
    .container {padding:0 35px}
}

@media screen and (max-width:1199px) {
    header {background:#008b56}
}

.logo {float:right; width:225px; height:105px; background:url(../images/logo.png); position:relative}
.logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}

@media screen and (max-width:1199px) {
    .logo {width:156px; height:73px; margin:2px 0 0 0; background:url(../images/logo-mobile.png)}
}

.nav-mobile-link {display:none}

@media screen and (max-width:1199px) {
    .nav-mobile-link {display:block; float:left; width:25px; border-top:2px solid #fff; border-bottom:2px solid #fff; height:18px; position:relative; margin:27px 0 0 0}
    .nav-mobile-link::after {content:""; display:block; position:absolute; left:0; top:8px; right:0; height:2px; background:#fff}
    .nav-mobile-open .nav-mobile-link {border-color:transparent}
    .nav-mobile-open .nav-mobile-link::before {content:""; display:block; position:absolute; left:0; top:8px; right:0; height:2px; background:#fff; transform:rotate(45deg)}
    .nav-mobile-open .nav-mobile-link::after {transform:rotate(-45deg)}
}

nav {float:left; margin:40px 0 0 0; font-size:17px; line-height:27px}
nav ul {margin:0; padding:0; list-style:none}
nav ul li {float:left; margin:0 0 0 30px; padding:0}
nav ul li:first-child {margin:0}
nav ul li a {text-decoration:none; transition:all .3s}
nav ul li.nav-contest a {float:left; border:1px solid #008859; margin:-1px -14px -1px -14px; padding:0 13px}
nav ul li a:hover {opacity:.8}

@media screen and (max-width:1199px) {
    nav {display:none}
    .nav-mobile-open nav {display:block; float:none; margin:0; position:absolute; left:0; top:73px; background:#008b56; right:0; z-index:99}
    .nav-mobile-open nav ul li {float:none; margin:0; border-top:1px solid #fff}
    .nav-mobile-open nav ul li a {display:block; padding:10px 35px; color:#fff}
    .nav-mobile-open nav ul li.nav-contest a {float:none; border:none; margin:0; padding:10px 35px}
}

.welcome {border-bottom:1px solid #ededed; background:url(../images/welcome.jpg) no-repeat center bottom}
.welcome-text {float:right; width:470px; padding:83px 0 0 0}
.welcome-text-1 {font-weight:bold; font-size:70px; line-height:70px; color:#b81817}
.welcome-text-1-notice {font-size:20px; vertical-align:top; display:inline-block; margin-top:-25px}
.welcome-text-2 {font-weight:bold; font-size:40px; line-height:40px; color:#b81817; padding:12px 0 0 0}
.welcome-text-3 {font-size:20px; line-height:30px; padding:30px 0 0 0}
.welcome-props {padding:5px 0 0 0}
.welcome-props::after {content:""; display:block; clear:both}
.welcome-prop {float:left; width:214px; padding:30px 0 0 0}
.welcome-prop a {display:block; text-decoration:none}
.welcome-prop:nth-child(even) {float:right}
.welcome-prop-icon {float:left; line-height:0}
.welcome-prop-text {margin:0 0 0 65px}
.welcome-prop-title {font-weight:bold; font-size:16px; line-height:20px; color:#878786; padding:7px 0 0 0}
.welcome-prop-descr {font-size:12px; line-height:20px; color:#878786; padding:1px 0 0 0}
.welcome-notice {color:#878786; font-size:12px; padding:62px 0 37px 0}
.welcome-notice-icon {color:#b81817}
.welcome-mobile-photo {display:none}

@media screen and (max-width:1199px) {
    .welcome {background:none}
    .welcome-text {float:none; width:auto; padding:71px 0 0 0}
    .welcome-text-1 {font-size:56px; line-height:56px; text-align:center}
    .welcome-text-1-notice {margin-top:-14px}
    .welcome-text-2 {font-size:36px; line-height:36px; text-align:center; padding:21px 0 0 0}
    .welcome-mobile-photo {display:block; margin:0 -35px; text-align:center; line-height:0; padding:37px 0 0 0}
    .welcome-props {margin-right:-15px}
    .welcome-prop {width:50%}
    .welcome-prop:nth-child(even) {float:left}
}

.contest {border-bottom:1px solid #ededed; margin:105px 0 0 0}
.contest-list {font-size:0; line-height:0; letter-spacing:-1px; width:100%; white-space:nowrap; position:relative; overflow:hidden}
.contest-list-inner {width:100%; position:relative; left:0; transition:all .3s}
.contest-step-theme .contest-list-inner {left:-100%}
.contest-step-photo .contest-list-inner {left:-200%}
.contest-step-text .contest-list-inner {left:-300%}
.contest-step-auth .contest-list-inner {left:-400%}
.contest-step-share .contest-list-inner {left:-500%}
.contest-step {display:inline-block; vertical-align:top; width:100%; font-size:16px; line-height:25px; letter-spacing:0; white-space:normal; position:relative}

@media screen and (max-width:1199px) {
    .contest {margin:91px 0 0 0}
    .contest-step {overflow:hidden}
}

.contest-title {text-align:center; font-weight:bold; font-size:56px; line-height:80px; color:#363636}
.contest-text {text-align:center; font-size:20px; line-height:30px; color:#000; padding:49px 0 0 0}
.contest-preview {width:1120px; height:721px; margin:52px auto 0 auto; background:url(../images/contest.jpg)}
.contest-links {width:570px; margin:0 auto; padding:42px 0 119px 0}
.contest-links::after {content:""; display:block; clear:both}
.contest-link-rules {float:left; width:266px; height:56px; border:2px solid #008859; text-align:center; font-weight:bold; font-size:12px; line-height:58px; text-transform:uppercase; color:#008859; text-decoration:none; letter-spacing:1px; transition:all .3s}
.contest-link-rules:hover {opacity:.8}
.contest-link-start {float:right; width:266px; height:56px; border:2px solid #008859; background:#008859; text-align:center; font-weight:bold; font-size:12px; line-height:58px; text-transform:uppercase; color:#fff; text-decoration:none; letter-spacing:1px; transition:all .3s}
.contest-link-start:hover {opacity:.8}

@media screen and (max-width:1199px) {
    .contest-title {font-size:32px; line-height:50px; padding:0 35px}
    .contest-text {padding:38px 35px 0 35px}
    .contest-preview {width:auto; height:622px; background:url(../images/contest-mobile.jpg) no-repeat center}
    .contest-links {width:auto; padding:0 35px 90px 35px}
    .contest-link-rules {float:none; width:auto; display:block; margin:15px 0 0 0}
    .contest-link-start {float:none; width:auto; display:block; margin:18px 0 0 0}
}

.contest-menu {text-align:center; font-size:14px; padding:72px 0 0 0; position:relative}
.contest-menu span {color:#505354; opacity:.5}
.contest-menu span.active {opacity:1}
.contest-menu span.back {cursor:pointer}
.contest-menu img {vertical-align:middle; margin:0 17px}

@media screen and (max-width:1199px) {
    .contest-menu {white-space:nowrap; text-align:left; padding:42px 35px 0 35px}
    .contest-step-text .contest-menu {left:-204px}
    .contest-step-auth .contest-menu {left:-404px}
    .contest-step-share .contest-menu {left:-604px}
}

.contest-theme {width:1190px; height:570px; margin:153px auto 0 auto; background:url(../images/contest-theme.png); position:relative}
.contest-theme::before {content:""; display:block; width:1267px; height:679px; position:absolute; left:-2px; top:0; background:url(../images/contest-theme-shadow.png)}
.contest-theme-text {position:absolute; left:336px; top:-76px; font-size:30px; line-height:40px; color:#505354; text-align:center; padding:53px 26px 0 0; width:491px; height:133px; background:url(../images/contest-theme-text.png)}
.contest-theme-text strong {font-weight:bold; color:#363636}
.contest-theme-list {margin:0 0 0 98px; width:1000px; font-size:20px; line-height:60px; white-space:nowrap; position:relative; top:94px}
.contest-theme-list::after {content:""; display:block; clear:both}
.contest-theme-item {float:left; margin:0 10px 10px 0; height:60px; background:#fff; border-radius:4px; padding:0 60px 0 20px; position:relative; color:#363636; cursor:pointer}
.contest-theme-item:hover {box-shadow:8px 8px 40px rgba(73, 73, 73, .14)}
.contest-theme-item.active {background:#008859; color:#fff}
.contest-theme-item-icon {display:inline-block; vertical-align:middle; position:relative; line-height:0; margin:-2px 14px 0 0}
.contest-theme-item-icon svg {width:22px}
.contest-theme-item-icon path {stroke:#363636; fill:none}
.contest-theme-item-icon line {stroke:#363636}
.contest-theme-item-icon circle {stroke:#363636}
.contest-theme-item-icon polygon {fill:#363636}
.contest-theme-item.active .contest-theme-item-icon path {stroke:#fff; fill:none}
.contest-theme-item.active .contest-theme-item-icon line {stroke:#fff}
.contest-theme-item.active .contest-theme-item-icon circle {stroke:#fff}
.contest-theme-item.active .contest-theme-item-icon polygon {fill:#fff}
.contest-theme-item-title {display:inline-block; vertical-align:middle}
.contest-theme-item-plus {position:absolute; right:20px; top:29px; height:2px; width:14px; background:#505354}
.contest-theme-item.active .contest-theme-item-plus {background:#fff; transform:rotate(45deg)}
.contest-theme-item-plus::after {content:""; display:block; position:absolute; left:6px; top:-6px; width:2px; height:14px; background:#505354}
.contest-theme-item.active .contest-theme-item-plus::after {background:#fff}

@media screen and (max-width:1199px) {
    .contest-theme {width:359px; height:740px; position:relative; background:url(../images/contest-theme-mobile.png); margin:111px auto 105px auto}
    .contest-theme::before {content:""; display:block; width:449px; height:845px; position:absolute; left:-17px; top:0; background:url(../images/contest-auth-shadow.png)}
    .contest-theme-text {width:398px; height:137px; left:-35px; top:-81px; background:url(../images/contest-theme-text-mobile.png); font-size:25px; padding:54px 26px 0 0}
    .contest-theme-list {margin:0; padding:0; top:74px; position:relative; left:30px; overflow:auto; height:480px; width:304px; font-size:16px}
    .contest-theme-item {float:none; margin:0; width:210px}
    .contest-theme-item+.contest-theme-item {margin:10px 0 0 0}
}

.contest-theme-item-next {display:block; position:absolute; left:34px; top:424px; height:127px; width:1095px; opacity:.25; color:#fff; text-decoration:none; background:#008859; text-align:center; line-height:127px; border-radius:0 0 36px 36px; cursor:default}
.contest-theme-item-next.active {opacity:1; cursor:pointer}
.contest-theme-item-next.active:hover {opacity:.8}
.contest-theme-item-next-title {display:inline-block; vertical-align:middle; font-size:20px}
.contest-theme-item-next-icon {display:inline-block; vertical-align:middle; line-height:0; margin:-4px 16px 0 16px}
.contest-theme-item-next-icon svg {width:60px}
.contest-theme-item-next-icon path {stroke:#fff; fill:none}
.contest-theme-item-next-icon line {stroke:#fff}
.contest-theme-item-next-icon circle {stroke:#fff}
.contest-theme-item-next-icon polygon {fill:#fff}
.contest-theme-item-next-theme {display:inline-block; vertical-align:middle; font-size:40px}
.contest-theme-item-next-text {position:absolute; right:42px; top:0; padding:0 43px 0 0; font-size:14px; font-weight:bold; text-transform:uppercase; background:url(../images/contest-theme-item-next.png) no-repeat right center; letter-spacing:1px}

@media screen and (max-width:1199px) {
    .contest-theme-item-next {width:327px; height:131px; left:16px; top:571px; border-radius:0 0 18px 18px; background:#007b4d; line-height:65px}
    .contest-theme-item-next-title {display:none}
    .contest-theme-item-next-icon {margin-left:0}
    .contest-theme-item-next-theme {font-size:20px}
    .contest-theme-item-next-icon svg {width:22px}
    .contest-theme-item-next-text {right:0; top:65px; left:0; bottom:0; padding:0; line-height:66px; text-align:center; background:#008859; border-radius:0 0 18px 18px}
    .contest-theme-item-next-text::after {content:""; display:inline-block; vertical-align:middle; width:24px; height:10px; background:url(../images/contest-theme-item-next.png); margin:-2px 0 0 19px}
}

.contest-photo {width:686px; height:945px; background:url(../images/contest-photo.png); margin:33px auto 0 auto; position:relative}
.contest-photo::before {content:""; display:block; width:772px; height:945px; position:absolute; left:-15px; top:0; background:url(../images/contest-photo-shadow.png)}
.contest-photo-editor {position:absolute; left:50%; top:91px; margin-left:-290px}
.contest-photo.camera .contest-photo-editor {display:none}
.contest-photo-text {position:absolute; left:290px; top:2px; width:315px; height:166px; padding:20px 55px 0 30px; background:url(../images/contest-photo-text.png); text-align:center; font-size:30px; line-height:100px; color:#505354}
.contest-photo-text strong {font-weight:bold; color:#363636}
.contest-photo-links {padding:270px 0 0 189px; position:relative}
.contest-photo.active .contest-photo-links {display:none}
.contest-photo.camera .contest-photo-links {display:none}
.contest-photo-upload {float:left}
.tablet .contest-photo-upload,
.mobile .contest-photo-upload {margin:0 0 0 85px}
.contest-photo-upload-field {position:relative; overflow:hidden; width:148px; height:148px; border:1px dashed #dedede; background:url(../images/contest-photo-upload.png) no-repeat center; cursor:pointer}
.contest-photo-upload-field input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.contest-photo-upload-title {text-align:center; font-size:20px; line-height:25px; color:#505354; padding:33px 0 0 0}
.contest-photo-camera {float:left; margin:0 0 0 20px}
.tablet .contest-photo-camera,
.mobile .contest-photo-camera {display:none}
.contest-photo-camera-field {position:relative; overflow:hidden; width:148px; height:148px; border:1px dashed #dedede; background:url(../images/contest-photo-camera.png) no-repeat center; cursor:pointer}
.contest-photo-camera-title {text-align:center; font-size:20px; line-height:25px; color:#505354; padding:33px 0 0 0}
.contest-photo-item-next {display:block; position:absolute; left:73px; top:729px; width:545px; height:70px; background:#008859; color:#fff; text-decoration:none; text-align:center; font-size:14px; font-weight:bold; line-height:70px; text-transform:uppercase; opacity:.25; cursor:default; letter-spacing:1px}
.contest-photo-item-next::after {content:""; display:inline-block; vertical-align:middle; width:24px; height:10px; background:url(../images/contest-theme-item-next.png); margin:-2px 0 0 20px}
.contest-photo.active .contest-photo-item-next {opacity:1; cursor:pointer}
.contest-photo.active .contest-photo-item-next:hover {opacity:.8}
.contest-photo-reload {display:none; position:absolute; left:496px; top:183px; width:38px; height:38px; background:url(../images/contest-photo-reload.png)}
.contest-photo.active .contest-photo-reload {display:block}
.contest-camera {display:none; position:absolute; left:50%; top:91px; margin-left:-290px; width:580px; height:580px}
.contest-photo.camera .contest-camera {display:block}
.contest-camera video {position:absolute; left:0; top:0; width:100%; height:100%}
.contest-camera-btn {display:none; position:absolute; left:50%; top:580px; background:#555; opacity:.6; padding:10px; border-radius:50%; margin:0 0 0 -32px; line-height:0}
.contest-camera-btn svg {display:block}
.contest-camera-btn:hover {opacity:1}
.contest-camera-btn path {fill:#fff}
.contest-photo.camera .contest-camera-btn {display:block}

@media screen and (max-width:1199px) {
    .contest-photo {width:359px; height:740px; position:relative; background:url(../images/contest-photo-mobile.png); margin:111px auto 105px auto}
    .contest-photo::before {content:""; display:block; width:449px; height:845px; position:absolute; left:-17px; top:0; background:url(../images/contest-auth-shadow.png)}
    .contest-photo-text {left:20px; top:-75px; width:260px; height:171px; padding:20px 56px 0 30px; background:url(../images/contest-photo-text-mobile.png); font-size:25px; line-height:105px}
    .contest-photo-editor {transform:scale(0.5224); top:15px}
    .contest-photo-links {padding:250px 0 0 98px}
    .tablet .contest-photo-upload,
    .mobile .contest-photo-upload {margin:0 0 0 44px}
    .contest-photo-upload-field {width:76px; height:76px; background:url(../images/contest-photo-upload-mobile.png) no-repeat center}
    .contest-photo-upload-title {font-size:14px; line-height:15px; padding:15px 0 0 0}
    .contest-photo-camera {margin:0 0 0 10px}
    .contest-photo-camera-field {width:76px; height:76px; background:url(../images/contest-photo-camera-mobile.png) no-repeat center}
    .contest-photo-camera-title {font-size:14px; line-height:15px; padding:15px 0 0 0}
    .contest-photo-item-next {width:285px; height:60px; line-height:60px; left:37px; top:499px}
    .contest-photo-reload {left:260px; top:200px}
    .contest-camera {transform:scale(0.5224); top:15px}
    .contest-camera-btn {top:430px}
}

.contest-auth {width:359px; height:740px; position:relative; background:url(../images/contest-auth.png); margin:117px auto 0 auto}
.contest-auth::before {content:""; display:block; width:449px; height:845px; position:absolute; left:-17px; top:0; background:url(../images/contest-auth-shadow.png)}
.contest-auth-text {position:absolute; left:-392px; top:40px; width:439px; height:213px; padding:53px 0 0 70px; background:url(../images/contest-auth-text.png); color:#505354; font-size:30px; line-height:40px}
.contest-auth-text strong {color:#363636; font-weight:bold}
.contest-auth-link {display:block; position:absolute; left:66px; top:440px; width:230px; height:60px; background:#fff; text-decoration:none; text-align:center; font-size:20px; line-height:60px; color:#5281b9}
.contest-auth-link:hover {opacity:.8}

@media screen and (max-width:1199px) {
    .contest-auth {margin:111px auto 105px auto}
    .contest-auth-text {left:-55px; top:-80px; width:349px; height:211px; padding:55px 0 0 75px; background:url(../images/contest-auth-text-mobile.png); font-size:25px; line-height:37px}
}

.contest-text-wrap {position:relative; width:686px; height:896px; margin:34px auto 0 auto; background:url(../images/contest-text.png)}
.contest-text-wrap::before {content:""; display:block; position:absolute; left:-15px; top:0; width:772px; height:1001px; background:url(../images/contest-text-shadow.png)}
.contest-text-wrap::after {content:""; display:block; position:absolute; left:-15px; top:0; width:772px; height:200px; background:url(../images/contest-text-mask.png)}
.contest-text-photo {position:relative; width:580px; margin:0 auto; height:350px; overflow:hidden; line-height:0}
.contest-text-photo img {position:relative; top:-230px}
.contest-text-header {position:absolute; left:-265px; top:191px; z-index:1; width:400px; height:206px; padding:20px 76px 0 70px; background:url(../images/contest-text-header.png); font-size:30px; line-height:30px; color:#505354}
.contest-text-header strong {font-weight:bold; color:#363636}
.contest-text-header-wrap {display:table; width:100%}
.contest-text-header-inner {display:table-cell; vertical-align:middle; height:140px}
.contest-text-tags {font-size:14px; color:#2b5a9a; margin:0 auto; width:560px; padding:39px 0 25px 0; position:relative}
.contest-text-textarea {margin:0 auto; width:560px; position:relative}
.contest-text-textarea textarea {border:none; font:20px/30px MyriadPro, sans-serif; color:#505354; vertical-align:top; margin:0; padding:0; width:100%; height:240px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none; overflow:auto; resize:none}
.contest-text-next {display:block; position:absolute; left:31px; top:703px; width:624px; height:120px; opacity:.25; color:#fff; text-decoration:none; background:#008859; text-align:center; font-size:18px; line-height:120px; border-radius:0 0 36px 36px; cursor:default; letter-spacing:1px; text-transform:uppercase; font-weight:bold}
.contest-text-next::after {content:""; display:inline-block; vertical-align:middle; width:24px; height:10px; background:url(../images/contest-theme-item-next.png); margin:-2px 0 0 20px}
.contest-text-next.active {opacity:1; cursor:pointer}
.contest-text-next.active:hover {opacity:.8}

@media screen and (max-width:1199px) {
    .contest-text-wrap {width:359px; height:740px; position:relative; background:url(../images/contest-text-mobile.png); margin:111px auto 105px auto}
    .contest-text-wrap::before {content:""; display:block; width:449px; height:845px; position:absolute; left:-17px; top:0; background:url(../images/contest-auth-shadow.png)}
    .contest-text-wrap::after {display:none}
    .contest-text-header {left:-35px; top:-74px; width:370px; height:171px; padding:20px 56px 0 30px; background:url(../images/contest-text-header-mobile.png); font-size:25px; line-height:37px}
    .contest-text-header-inner {height:105px; text-align:center; padding:0 25px}
    .contest-text-photo {width:303px; height:177px}
    .contest-text-photo img {width:303px; top:-126px; height:303px}
    .contest-text-tags {line-height:20px; width:270px}
    .contest-text-textarea {width:270px}
    .contest-text-textarea textarea {font-size:20px; line-height:30px; height:300px}
    .contest-text-next {left:16px; top:635px; width:327px; line-height:67px; height:67px; border-radius:0 0 18px 18px; font-size:14px}
}

.contest-share {text-align:center}
.contest-share-text {display:inline-block; vertical-align:top; position:relative; text-align:left; margin:209px 0 0 0}
.contest-share-text::before {content:""; display:block; width:150px; height:151px; background:url(../images/contest-share-icon.png); position:absolute; left:-72px; top:-108px}
.contest-share-title {font-weight:bold; font-size:32px; line-height:40px; color:#363636; position:relative; margin:0 0 28px 0}
.contest-share-descr {font-size:20px; line-height:30px; color:#505354}
.contest-share-descr p {margin:0 0 30px 0; padding:0}
.contest-share-descr a {color:#008859}
.contest-share-photo {display:inline-block; vertical-align:top; line-height:0; margin:53px 0 0 128px}

@media screen and (max-width:1199px) {
    .contest-share-text {display:block; margin:0 35px; padding:138px 0 0 0}
    .contest-share-text::before {top:30px}
    .contest-share-photo {display:block; margin:41px 0 0 0; height:489px; position:relative; overflow:hidden}
}

.reviews {padding:112px 0 113px 0; position:relative}
.reviews::before {content:""; display:block; width:221px; height:186px; position:absolute; left:50%; top:-38px; margin-left:110px; background:url(../images/reviews.png)}
.reviews-title {text-align:center; font-weight:bold; font-size:32px; line-height:40px; color:#363636}
.reviews-authors {font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; margin:55px 0 0 0}
.reviews-authors-list {position:relative; width:100%; overflow:hidden}
.reviews-authors-item {display:inline-block; vertical-align:top; padding:15px 0}
.reviews-authors-item a {display:block; margin:0 3px; padding:15px 22px; text-decoration:none; color:#262626; text-decoration:none; opacity:.25}
.reviews-authors-item a::after {content:""; display:block; clear:both}
.reviews-authors-item a:hover {opacity:1}
.reviews-authors-item.active a {opacity:1; background:#fff; box-shadow:0 5px 15px rgba(73, 73, 73, .12); position:relative; cursor:default}
.reviews-authors-item.active a::before {content:""; display:block; width:0; height:0; border-top:7px solid #fff; border-left:7px solid transparent; border-right:7px solid transparent; position:absolute; left:50%; bottom:-7px; margin-left:-7px}
.reviews-authors-item-photo {float:left; width:40px}
.reviews-authors-item-photo img {display:block; width:100%; border-radius:50%}
.reviews-authors-item-title {float:left; font-size:16px; line-height:40px; letter-spacing:0; padding:0 0 0 12px}

@media screen and (max-width:1199px) {
    .reviews {padding:96px 0 113px 0}
    .reviews::before {width:178px; height:149px; top:-50px; margin-left:93px; background:url(../images/reviews-mobile.png)}
}

.reviews-list {position:relative; width:100%; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; margin:53px 0 0 0}
.reviews-item {display:inline-block; vertical-align:top; width:100%}
.reviews-item-inner {width:970px; margin:0 auto; display:table}
.reviews-item-photo {display:table-cell; vertical-align:middle; width:539px}
.reviews-item-photo-inner {position:relative; width:539px; height:747px}
.reviews-item-photo-inner::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:url(../images/reviews-item-photo.png)}
.reviews-item-photo-img {position:relative; left:189px; top:21px; width:332px; height:688px; background:no-repeat center; background-size:cover}
.reviews-item-text {display:table-cell; vertical-align:middle; padding:0 0 0 63px; font-size:16px; line-height:24px; letter-spacing:0; white-space:normal}
.slick-slide .reviews-item-text img {display:inline-block}
.reviews-item-text-descr {position:relative}
.reviews-item-text-descr::before {content:"“"; position:absolute; left:-35px; top:-10px; font-size:72px; line-height:72px; color:#ededed}
.reviews-item-text-descr::after {content:"”"; position:absolute; right:-30px; bottom:-54px; font-size:72px; line-height:72px; color:#ededed}
.reviews-item-text-descr a {text-decoration:none; color:#008859}
.reviews-item-text-descr a:hover {text-decoration:underline}
.reviews-item-text-author-name {font-size:25px; line-height:25px; color:#363636; padding:58px 0 0 0}
.reviews-item-text-author-post {font-size:16px; line-height:25px; color:#363636; padding:3px 0 0 0}
.reviews-list .slick-prev,
.reviews-list .slick-next {display:block; position:absolute; z-index:2; top:50%; width:21px; height:39px; border:none; border-radius:0; margin:-20px 0 0 0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:url(../images/reviews-arrows.png)}
.reviews-list .slick-prev {left:0}
.reviews-list .slick-next {right:0; background-position:-22px top}
.reviews-list .slick-prev.slick-disabled {display:none !important}
.reviews-list .slick-next.slick-disabled {display:none !important}

@media screen and (max-width:1199px) {
    .reviews-item-inner {width:100%; display:block; position:relative; overflow:hidden}
    .reviews-item-photo {display:block; width:auto}
    .reviews-item-photo-inner {width:413px; height:571px; margin:0 auto}
    .reviews-item-photo-inner::after {background:url(../images/reviews-item-photo-mobile.png)}
    .reviews-item-photo-img {width:255px; height:527px; left:147px; top:16px}
    .reviews-item-text {display:block; padding:61px 35px 0 35px}
}

.video {position:relative; background:url(../images/video.jpg) no-repeat center; background-size:cover; height:720px}
.video-play {display:block; position:relative; color:#fff; text-decoration:none; text-align:center; font-weight:bold; font-size:32px; line-height:40px; height:720px; box-sizing:border-box; padding:309px 0 0 0}
.video.play .video-play {display:none}
.video-play::before {content:""; display:block; width:102px; height:102px; background:rgba(0, 0, 0, .5) url(../images/video-play.png) no-repeat 42px center; border-radius:50%; margin:0 auto 81px auto}
.video-play:hover::before {background-color:rgba(0, 0, 0, .75)}
.video iframe {display:none; position:absolute; left:0; top:0; width:100%; height:100%; z-index:1}
.video.play iframe {display:block}

@media screen and (max-width:1199px) {
    .video {height:0; padding:56.25% 0 0 0}
    .video-play {position:absolute; left:0; top:0; right:0; bottom:0; height:auto; font-size:0; line-height:0; color:transparent; padding:0}
    .video-play::before {position:absolute; left:50%; top:50%; margin:-51px 0 0 -51px}
}

.gifts {background:#fafafa; position:relative; margin:0 0 -1px 0; padding:112px 0 0 0}
.gifts-title {text-align:center; font-weight:bold; font-size:32px; line-height:40px; color:#363636}

.timer {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; padding:74px 0 0 0}
.timer-item {display:inline-block; vertical-align:top; width:170px; padding:0 0 0 30px}
.timer-item:first-child {padding:0}
.timer-item-value {font-size:100px; line-height:100px; color:#363636; letter-spacing:0}
.timer-item-name {font-size:16px; line-height:25px; letter-spacing:0; border-top:1px solid #cfd0d0; margin:-4px 0 0 0; padding:11px 0 0 0}

@media screen and (max-width:1199px) {
    .timer-item {width:116px}
    .timer-item:last-child {display:none}
    .timer-item-value {font-size:75px; line-height:75px}
}

.gifts-link {text-align:center; padding:57px 0 0 0}
.gifts-link a {display:inline-block; vertical-align:top; color:#fff; height:36px; text-transform:uppercase; padding:0 25px; font-weight:bold; font-size:14px; letter-spacing:1px; line-height:40px; text-decoration:none; background:#008859}
.gifts-link a:hover {opacity:.8}
.gifts-subtitle {text-align:center; font-weight:bold; font-size:32px; line-height:40px; color:#363636; padding:99px 0 0 0}
.gifts-text {text-align:center; font-size:18px; line-height:24px; color:#363636; padding:10px 0 0 0}
.gifts-partners {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; padding:54px 0 0 0}
.gifts-partner {display:inline-block; vertical-align:middle}
.gifts-partner-sep {display:inline-block; vertical-align:middle; margin:0 50px; width:1px; height:70px; background:#dadada}

@media screen and (max-width:1199px) {
    .gifts-partner-sep {display:block; margin:0; width:auto; height:50px; background:none}
    .gifts-link a {display:block; padding:0; text-align:center}
}

.gifts-photo {line-height:0; text-align:center; padding:72px 0 0 0}

footer {border-top:1px solid #dadada; padding:0 0 58px 0}

@media screen and (max-width:1199px) {
    footer {padding:50px 0 48px 0}
}

.footer-logo {float:left; width:154px; height:25px; margin:60px 0 0 0; background:url(../images/footer-logo.png); position:relative}
.footer-logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}
.footer-links {float:left; margin:40px 0 0 247px; font-size:14px; line-height:20px}
.footer-links p {margin:0; padding:20px 0 0 0}
.footer-social {float:right; margin:59px 0 0 0}
.footer-social a {float:left; width:43px; height:42px; background:url(../images/footer-social.png); margin:0 0 0 8px}
.footer-social a.footer-social-vk {background-position:left top}
.footer-social a.footer-social-ig {background-position:-44px top}
.footer-social a.footer-social-yt {background-position:-88px top}
.footer-social a.footer-social-fb {background-position:-132px top}
.footer-copyrights {float:right; clear:right; font-size:14px; padding:16px 0 0 0}

@media screen and (max-width:1199px) {
    .footer-logo {float:none; margin:0}
    .footer-links {float:none; margin:17px 0 0 0}
    .footer-social {float:none; margin:47px 0 0 0}
    .footer-social::after {content:""; display:block; clear:both}
    .footer-social a:first-child {margin:0}
    .footer-copyrights {float:none; padding:38px 0 0 0}
}

.up-link {display:none; position:fixed; right:49px; bottom:49px; text-decoration:none; color:#159267; font-weight:bold; font-size:10px; text-transform:uppercase}
.up-link.visible {display:block}
.up-link::before {content:""; display:block; width:11px; height:7px; margin:0 auto 5px auto; background:url(../images/up-link.png)}

@media screen and (max-width:1199px) {
    .up-link.visible {display:none}
}

.rules {padding:87px 0 63px 0}
.rules h1 {margin:0 0 90px 0; padding:0; font-weight:bold; font-size:32px; line-height:40px; color:#363636}
.rules ol {margin:0; padding:0; list-style:none; counter-reset:point; font-weight:bold; font-size:24px; line-height:25px; color:#363636}
.rules ol li {margin:0; padding:0 0 0 50px; position:relative}
.rules ol li::before {content:counter(point)'.'; counter-increment:point 1; position:absolute; left:0; top:0}
.rules ol ol {font-size:16px; font-weight:normal; color:#505354; counter-reset:subpoint; margin:37px 0 53px -50px}
.rules ol ol li {margin:25px 0}
.rules ol ol li::before {content:counter(point)'.'counter(subpoint); counter-increment:subpoint 1}
.rules ol ol ol {margin:25px 0; counter-reset:subsubpoint}
.rules ol ol ol li {padding:0 0 0 60px}
.rules ol ol ol li::before {content:counter(point)'.'counter(subpoint)'.'counter(subsubpoint); counter-increment:subsubpoint 1}
.rules ul {margin:0; padding:0; list-style:none; font-size:24px; line-height:25px; color:#363636}
.rules li ul {font-size:16px; margin:37px 0 53px 0}
.rules ol ul li::before {content:""; display:block; width:7px; height:7px; background:#505354; border-radius:50%; top:8px; left:0; counter-increment:none}
.rules a {color:#008859; text-decoration:none}
.rules a:hover {text-decoration:underline}